<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		
		<add name="Dbcontects"   providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-12TQTQO;Initial Catalog=dB_COM;;User ID=sa;Password=Admin123;Trusted_Connection=true;"/>
	</connectionStrings>
</configuration>